<table>
    <tbody>
        <tr>
            <td class="linkblock" colspan="5" align="center"><a href="#." class="mailtoLink">Select Your Response</a></td>
        </tr>
        <tr>
            <td align="center">
                <a href="mailto:1CommEmailPRD@outlook.com?subject=Your%20Remedy%20Request%20&lt;INC000030591142&gt;%20has%20been%20Resolved[5yyhhazm]&amp;body=VeryGood" target="_blank">
                    <br>
                    <img width="42" height="42" src=cid:smiley1><br>
                </a>
            </td>
            <td align="center">
                <a href="mailto:1CommEmailPRD@outlook.com?subject=Your%20Remedy%20Request%20&lt;INC000030591142&gt;%20has%20been%20Resolved[5yyhhazm]&amp;body=Good" target="_blank">
                    <br>
                    <img width="42" height="42" src=cid:smiley2><br>
                </a>
            </td>
            <td align="center">
                <a href="mailto:1CommEmailPRD@outlook.com?subject=Your%20Remedy%20Request%20&lt;INC000030591142&gt;%20has%20been%20Resolved[5yyhhazm]&amp;body=Neutral" target="_blank">
                    <br>
                    <img width="42" height="42" src=cid:smiley3><br>
                </a>
            </td>
            <td align="center">
                <a href="mailto:1CommEmailPRD@outlook.com?subject=Your%20Remedy%20Request%20&lt;INC000030591142&gt;%20has%20been%20Resolved[5yyhhazm]&amp;body=Poor" target="_blank">
                    <br>
                    <img width="42" height="42" src=cid:smiley4><br>
                </a>
            </td>
            <td align="center">
                <a href="mailto:1CommEmailPRD@outlook.com?subject=Your%20Remedy%20Request%20&lt;&lt;INC000030591142&gt;&gt;%20has%20been%20Resolved[5yyhhazm]&amp;body=VeryPoor" target="_blank">
                    <br>
                    <img width="42" height="42" src=cid:smiley5><br>
                </a>
            </td>
        </tr>
    </tbody>
</table>

